APP_NAME=gennix
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gennix
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ARCANEDEV_LOGVIEWER_MIDDLEWARE=web,auth

USE_SOCIALITE=false

SOCIALITE_FACEBOOK=false
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

SOCIALITE_TWITTER=false
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

SOCIALITE_GITHUB=false
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

SOCIALITE_LINKEDIN=false
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

SOCIALITE_GOOGLE=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EXTERNAL_IP=https://api.ipify.org

FOOTER_CENTER=
# or
FOOTER_LEFT="&copy; 2020 by <a href='https://nandosalles.com.br' target='_blank'>Nando Salles Web Solutions</a>. Made with <i class='fa fa-heart text-red'></i>."
FOOTER_RIGHT="<a href='https://github.com/fsclaro/gennix' target='_blank'>gennix v1.0</a> <sup class='text-red'>beta</sup>"

DATE_FORMAT="d/m/Y"
DATE_FORMAT_SHORT="d/m/y"
DATE_FORMAT_LONG="d/m/Y H:i:s"
TIME_FORMAT="H:i"
TIME_FORMAT_LONG="H:i:s"

DATATABLE_LANGUAGE="vendor/datatables/js/i18n/Portuguese-Brasil.json"
